<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, maximum-scale=1" />
    <link href="../styles/estilosSASS.css" rel="stylesheet" />
    <title></title>
</head>
<body>
       
    <h3>Nuestra ubicación</h3>
    <section>
        <div id="googleMap" class="map">
        </div>
    </section>
    <footer>
        Nuestra dirección es Jr. Pedro Labarthe N°283.
        &copy; Todos los derechos reservados a VitoCold. - <span id="date"></span>
    </footer>
    <script src="../scripts/map.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCBVQvFy2GC_VmYGtYXCMuj7u9E9idHSCU&callback=cibertec.getLocation"></script>
</body>


</html>